server:
  port: 8080

spring:
  application:
    name: accounts
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: admin
    password: ''
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
#  rabbitmq:
#    host: "localhost"
#    port: 5672
#    username: "guest"
#    password: "guest"

  profiles:
    active: prod

  config:
    import: "optional:configserver:http://localhost:8071/"
#   optional:configserver:http;//localhost:8071/ -optional when the profile is not too important

management:
  endpoints:
    web:
      exposure:
        include: "*"




